.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(258, 58%, 42%);
    position: sticky;
    top: 0;
}
.home{
    font-size: 1cm;
    margin: 0.5cm;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}

.nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.active{
    background-color: hsl(240, 68%, 48%);
}

.nav ul li a:not(.active):hover{
    background-color: hsl(240, 66%, 53%);
}

.menu {
    display: none;
    position: absolute;
    top: 0.75cm;
    right: 0.25cm;
    flex-direction: column;
    justify-content: space-between;
    width: 1cm;
    height: 1cm;
}

.menu span{
    height: 0.5rem;
    width: 100%;
    background-color: white;
    border-radius: 0.1cm;
}

@media (max-width: 450px){
    .menu {
        display: flex;
    }
    .nav{
        flex-direction: column;
        align-items: start;
    }
    .nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0.5cm;
    }
    .nav ul.open{
        display: flex;
    }
    .nav ul li{
        width: 100%;
        text-align: center;
    }
    .nav ul li a{
        margin: 0.25cm 0.25cm;

    }
}